<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ishara- Learn Sign Language</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Custom Font -->
  {% block styles%}
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='fonts/stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='fonts/stylesheet2.css')}}">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}">
    
    <!-- Libraries CSS Files -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/animate/animate.min.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/magnific-popup/magnific-popup.css')}}">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}">
    

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" type="text/css" charset="utf-8" href="{{url_for('static',filename='css/style.css')}}">
  {% endblock %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@ishara.com">contact@ishara.io</a>
        <!-- <i class="fa fa-phone"></i> +254 700 000 000 -->
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Isha<span>ra</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#portfolio">Lessons</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#services">Resources</a></li>
          {% if 'username' in session %}
            <li class="nav-item"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <main role="main" class="container">
      {% block body %}{% endblock %}
    </main>
    {% if 'username' in session %}
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible margin-buffer" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></span>&times;</button>
              {{message}}
          </div>
        {% endfor%}
      {% endif%}
    {% endwith %} -->
    <div class="intro-content">
      <h2>Learn <span>sign</span><br>language</h2>
      <div>
        <!-- <a href="#about" class="btn-get-started scrollto">Alphabet</a> -->
        <form  id="fileupload" action="/camera" method="POST" role="form"
            enctype = "multipart/form-data" >
            <button id="digitpredictbtn" onchange="readURL1(this);" class="btn-get-started scrollto" type = "Alphabet" value="ALPHABET">ALPHABET</button>
        </form>
        <!-- <a href="#portfolio" class="btn-projects scrollto">Numbers</a> -->
        <form  id="fileupload" action="/camera2" method="POST" role="form"
                          enctype = "multipart/form-data" >
            <button id="digitpredictbtn" onchange="readURL1(this);" class="btn-get-started btn-large scrollto" type = "Alphabet" value="NUMBERS">NUMBERS</button>
        </form>
      </div>
    </div>


    <div id="intro-carousel" class="owl-carousel" >
        <div class="item" style="background-image: url('static/img/alphabet/alphabet.png');"></div>
        <div class="item" style="background-image: url('static/img/child1.jpg');"></div>
      </div>


  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Lessons Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Lessons</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="static/signs/signs-02.png" class="portfolio-popup">
                <img src="static/signs/signs-02.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Alphabet</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="static/signs/signs-13.png" class="portfolio-popup">
                <img src="static/signs/signs-13.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Numbers</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="static/signs/signs-10.png" class="portfolio-popup">
                <img src="static/signs/signs-10.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Early Signs</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="static/signs/signs-02.png" class="portfolio-popup">
                <img src="static/signs/signs-06.png" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Emotions</h2></div>
                </div>
              </a>
            </div>
          </div>

        
        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Alphabet Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Team</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div id="" class="testimonial-item">
                <p>
                    <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                    
                    <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                  </p>
              
              <img src="static/img/team/betty.png" class="testimonial-img" alt="">
              <h3>Betty Brenda</h3>
              <h4>Developer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                
                <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="static/img/team/joy.png" class="testimonial-img" alt="">
              <h3>Joy Wendo</h3>
              <h4>Developer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                
                <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="static/img/team/loise.png" class="testimonial-img" alt="">
              <h3>Loise Mwangi</h3>
              <h4>Developer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
               
                <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="static/img/team/victor.png" class="testimonial-img" alt="">
              <h3>Victor Oyugi</h3>
              <h4>Developer</h4>
            </div>

        </div>

      </div>
    </section><!-- #team carousel -->

    <!--==========================
      Alphabet Sign Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Alphabet</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/A.jpg" alt=""></div>
              <div class="details">
                <h4>Aa</h4>
                <span>Apple</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/B.jpg" alt=""></div>
              <div class="details">
                <h4>Bb</h4>
                <span>Ball</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/C.jpg" alt=""></div>
              <div class="details">
                <h4>Cc</h4>
                <span>Cat</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/D.jpg" alt=""></div>
              <div class="details">
                <h4>Dd</h4>
                <span>Dog</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/E.jpg" alt=""></div>
              <div class="details">
                <h4>Ee</h4>
                <span>Elephant</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/F.jpg" alt=""></div>
              <div class="details">
                <h4>Ff</h4>
                <span>Fox</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/G.jpg" alt=""></div>
              <div class="details">
                <h4>Gg</h4>
                <span>-</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/H.jpg" alt=""></div>
              <div class="details">
                <h4>Hh</h4>
                <span>Hippo</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/I.jpg" alt=""></div>
              <div class="details">
                <h4>Ii</h4>
                <span>Iguana</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/J.jpg" alt=""></div>
              <div class="details">
                <h4>Jj</h4>
                <span>Jaguar</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/K.jpg" alt=""></div>
              <div class="details">
                <h4>Kk</h4>
                <span>Koala</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/L.jpg" alt=""></div>
              <div class="details">
                <h4>Ll</h4>
                <span>Lion</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/M.jpg" alt=""></div>
              <div class="details">
                <h4>Mm</h4>
                <span>Monkey</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/N.jpg" alt=""></div>
              <div class="details">
                <h4>Nn</h4>
                <span>-</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/O.jpg" alt=""></div>
              <div class="details">
                <h4>Oo</h4>
                <span>Octopus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/P.jpg" alt=""></div>
              <div class="details">
                <h4>Pp</h4>
                <span>Pig</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/Q.jpg" alt=""></div>
              <div class="details">
                <h4>Qq</h4>
                <span>-</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/R.jpg" alt=""></div>
              <div class="details">
                <h4>Rr</h4>
                <span>Robin</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/S.jpg" alt=""></div>
              <div class="details">
                <h4>Ss</h4>
                <span>-</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/T.jpg" alt=""></div>
              <div class="details">
                <h4>Tt</h4>
                <span>Tortoise</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/U.jpg" alt=""></div>
              <div class="details">
                <h4>Uu</h4>
                <span>Unicorn</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/V.jpg" alt=""></div>
              <div class="details">
                <h4>Vv</h4>
                <span>Vampire</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/W.jpg" alt=""></div>
              <div class="details">
                <h4>Ww</h4>
                <span>Walrus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/X.jpg" alt=""></div>
              <div class="details">
                <h4>Xx</h4>
                <span>X-ray</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/Y.jpg" alt=""></div>
              <div class="details">
                <h4>Yy</h4>
                <span>Yak</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/alphabet/Z.jpg" alt=""></div>
              <div class="details">
                <h4>Zz</h4>
                <span>Zebra</span>
              </div>
            </div>
          </div>
          




          

          
        </div>

      </div>
    </section><!-- #team -->

  </main>
  {% endif %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Ishara</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Ishara Team</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/lib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>
</html>

